p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
body{
    color: white;
    margin: 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 30px;
}