.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: #3d3d3d;
    z-index: 1;

}
.left-section{
    background-color: #181818;
   
    display: flex;
    align-items: center;
   
    color: white;
}
.middle-section{
    
    flex: 1;
    max-width: 530px;
    margin-right: 70px;  
    margin-left: 35px;
    display: flex;
    align-items: center;
    background-color: #181818;

}
.right-section{
    background-color:#181818;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
 
}
.menu{
    height: 28px;
    margin-left: 24px;
    margin-right: 24px;
}
.logo{
    height: 89px;
}

.search::placeholder{
    font-family: Roboto,Arial;
    font-size: 15px;
}
.search{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    background-color: black;
    color: gray;
    font-size: 16px;
    border-width: 1px;
    border-radius: 2px;
    border-color: #181818;
    width: 0;
    
}
.search-button
{
    background-color: #121212;
    height: 40px;
    width: 66px;
    background-color: #3d3d3d;
    border-width: 1px;
    border-style: solid;
    border-color: #3d3d3d;
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon{
    height: 28px;

}
.mic-button{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    border:none;
}
.mic{
    height: 28px;
    margin-top: 2px;

}
.upload{
    height: 28px;
}
.apps{
    height: 28px;
}
.notification{
    height: 28px;
}
.channel-profile{
    height: 28px;
    border-radius: 14px ;
}
.notifications-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(187, 0, 0);
    color: white;
    font-family: Roboto,Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
